.btn-start,
.quiz-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quiz-box {
  width: 50%;
  visibility: hidden;
}

.quiz-box header .title {
  font-size: 20px;
  font-weight: 600;
}

.quiz-box .question-text {
  font-size: 25px;
  font-weight: 600;
}

.quiz-box .option-list {
  padding: 10px 0;
}
.quiz-box .option-list .option {
  border: 1px solid black;
  border-radius: 7px;
  padding: 8px 15px;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quiz-box .option-list .option:hover {
  color: #112b2c;
  background-color: #ffd33d;
}
.quiz-box .option-list .option:correct {
  color: #112b2c;
  background-color: #ffd33d;
}
.quiz-box .option-list .option:uncorrect {
  color: #112b2c;
  background-color: #ffd33d;
}
